{% extends "base.html" %}

{% block title %}
{{ post.title }}-Discux!
{% endblock title %}

{% block content %}
<!--<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css">-->
<link rel="stylesheet" href="/css/gruvbox-light.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/highlight.pack.js"></script>

<div class="body-content article_detail detail">
  <div class="article_detail_head">
		<div class="backspace">
		    <a href="/subspace?id={{subspace.id}}"> << {{ subspace.title }}</a>
		</div>
		<div class="title">
		    <h2><a href="/article?id={{post.id}}">{{ post.title }}</a></h2>
		</div>
		<p class="vice-title">
		    {{ author.nickname }} 

		    {{"Posted at: "}} <span class="article_created_time">{{post.created_time|date }}</span>

		    {% if logged_user_id.is_some() && logged_user_id.clone().unwrap() == author.id %}
		    <a class="edit" href="/article/edit?id={{post.id}}">{{"Edit"}}</a>
		    {% endif %}
		</p>
  </div>

  <div class="detail-body">
	{{ post.content.clone()|markdown }}
  </div>

  {% if post.extlink != "" %}
  <div class="extlink-part">
		<iframe src="{{post.extlink}}"></iframe>
  </div>
  <br/>
  <span>Ext Link: <a target="_Blank" class="linked" href="{{post.extlink}}">{{post.extlink}}</a></span>
  <br/>
  <br/>
  {% endif %}

  <div class="comments">
		<div class="">
		    <h3 class="left">{{"Comments"}}</h3>
		    <a class="right new-comment" href="/comment/create?post_id={{post.id}}">{{"Write Comment"}}</a>
		    <div style="clear:both;"></div>
		</div>

		{% if comments.len() == 0 %}
    <p class="useless">{{"No Comment"}}</p>
		{% else %}
	    {% for comment in comments %}
	  <div class="item">
			<div class="comment-title">
			    {% if comment.author_id == author.id %}
			    {{"Author "}}
			    {% endif %}
					{{ comment.author_nickname }}
			    <span class="created-time">{{ comment.created_time|date }}</span>
			    {% if logged_user_id.is_some() && logged_user_id.clone().unwrap() == author.id %}
			    <a class="delete" href="/comment/delete?id={{comment.id}}">{{"Delete"}}</a>
			    {% endif %}
			</div>
			<div class="comment-content">
			    {{ comment.content.clone()|markdown }}
			</div>
    </div>
	    {% endfor %}
	{% endif %}
  </div>
</div>

<script type="application/javascript">
    function hightlight($doms) {
	$doms.each(function (i, block) {
	    hljs.highlightBlock(block);
	});
    }

    hightlight($("pre code"));
</script>
{% endblock content %}
