<div class="footer">
    <div class="site-desc">
	    <p> ©2023 Discux {{"Copyright"}} &nbsp;&nbsp;
		    <span class="powered">Powered by
					<a href="https://github.com/eightfish-org/eightfish">EightFish</a> &amp;
					<a href="https://github.com/eightfish-org/gutp">GUTP</a> &amp;
					<a href="https://github.com/miketang84/discux">Discux</a> &amp;
		    </span>
			</p>
			<p>
			<!--<span>蜀ICP备20010673号</span>-->
			</p>
    </div>
</div>

<!--
<script>
var _hmt = _hmt || [];
(function() {
 var hm = document.createElement("script");
 hm.src = "https://hm.baidu.com/hm.js?1fd834970f3ad2bab2cb57d4aa2b2e5a";
 var s = document.getElementsByTagName("script")[0]; 
 s.parentNode.insertBefore(hm, s);
 })();
</script>
-->
