{% extends "base.html" %}

{% block title %}
{{"title"}}-{{"index"}}
{% endblock title %}

{% block content %}
<div class="body-content">
  <div class="action_area">
	  <a class="right new-subspace" href="/subspace/create">{{"New Subspace"}}</a>
		<div style="clear:both;"></div>
  </div>

  <div class="subspace list-section">
		<div class="subspace-list-head head">
			<span><a href="/subspace/list">{{"Subspaces"}}</a></span>
		</div>
		{% if subspaces.len() == 0 %}
		<p>{{"No Content"}}</p>
		{% else %}
		<div class="list-container container suspace-list">
	    <ul>
	    {% for sp in subspaces %}
				<li>
		    <a href="/subspace?id={{ sp.id }}" class="title">
			{{ sp.title }}
		    </a>
				</li>
	    {% endfor %}
	    </ul>
		</div>
		{% endif %}
		<div style="clear:both;"></div>
  </div>
</div>
{% endblock content %}
