{% extends "base.html" %}

{% block title %}
{{"title"}}-{{"index"}}
{% endblock title %}

{% block content %}
<div class="body-content">
  <div class="action_area">
	  <a class="right new-subspace" href="/subspace/create">{{"New Subspace"}}</a>
		<div style="clear:both;"></div>
  </div>

    <div class="article-list-section">
	<div class="article-list-head head">
		<span><a href="/latest_articles_paging">{{"latest_articles"}}</a></span>
	</div>
	{% if articles | length  == 0 %}
	<p>{{"no_content"}}</p>
	{% else %}
	<div class="article-list-container container article-list">
	    <ul>
	    {% for article in articles %}
		<li>
		    <a href="/article?id={{ article.id }}" class="title">
			{{ article.title }} -
			{{article.section_title}}
		    </a>
		    <span class="right">
			<span class="author">{{ article.author_name }}</span>
			<span class="timestamp ">{{article.created_time}}</span>
		    </span>
		</li>
	    {% endfor %}
	    </ul>
	</div>
	{% endif %}
	<div style="clear:both;"></div>
    </div>

    <div class="article-list-section">
	<div class="article-list-head head">
		<span><a href="/latest_reply_articles_paging">{{"latest_reply_articles"}}</a></span>
	</div>
	{% if reply_articles | length  == 0 %}
	<p>{{"no_content"}}</p>
	{% else %}
	<div class="article-list-container container article-list">
	    <ul>
	    {% for article in reply_articles %}
		<li>
		    <a href="/article?id={{ article.id }}" class="title">
			{{ article.title }} -
			{{article.section_title}}
		    </a>
		    <span class="right">
			<span class="author">{{ article.author_name }}</span>
			<span class="timestamp ">{{article.created_time}}</span>
		    </span>
		</li>
	    {% endfor %}
	    </ul>
	</div>
	{% endif %}
	<div style="clear:both;"></div>
    </div>

/div>
{% endblock content %}
